set timeout=5
menuentry "RezzOS" {
    linux /boot/bzImage quiet loglevel=0 nokaslr
    initrd /boot/rootfs.cpio.gz
}
menuentry "RezzOS Safe Mode" {
    linux /boot/bzImage quiet loglevel=0 nomodeset nokaslr
    initrd /boot/rootfs.cpio.gz
}
